
doctype html
html(lang="en")
  head
    title CATS v DOGS

    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
    // [START run_end_user_firebase_scripts]
    // Firebase App (the core Firebase SDK) is always required and must be listed first
    script(src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js")
    // Add Firebase Auth service
    script(src="https://www.gstatic.com/firebasejs/7.18.0/firebase-auth.js")
    // [END run_end_user_firebase_scripts]
    script(src="/config.js")
    script(src="/firebase.js")
  body(class="yellow lighten-5")

    nav(class="teal darken-3")
      div(class="nav-wrapper container")
        a(href="#!" class="brand-logo center") CATS v DOGS
        ul(id="nav-mobile" class="left")
          button(id="signInButton" class="waves-effect waves-light btn") Sign In with Google

    div(id="form" class="section")

      div(class="center")
        h4 #{leaderMessage}

      div(class="row center")
        div(class="col s6 m5 offset-m1")
          div(class=(leadTeam === 'CATS') ? 'card-panel teal lighten-4' : 'card-panel')
            i(class="material-icons large") 🐱
            h3 #{catsCount} votes
            button(id="voteCats" class="btn") Vote for CATS
        div(class="col s6 m5")
          div(class=(leadTeam === 'DOGS') ? 'card-panel teal lighten-4' : 'card-panel')
            i(class="material-icons large") 🐶
            h3 #{dogsCount} votes
            button(id="voteDogs" class="btn") Vote for DOGS

      h4(class="header center") Recent Votes
      ul(class="container collection center")
        each vote in votes
          - var classes = ['collection-item', 'avatar']
          li(class=classes, class=vote.uid)
            if vote.candidate.trim() === 'CATS'
              i(class="material-icons circle teal lighten-1") 🐱
            else
              i(class="material-icons circle teal lighten-1") 🐶
            span(class="title") A vote for <b>#{vote.candidate}</b>
            p was cast at #{vote.time_cast}.

    script.
      document.getElementById("voteCats").addEventListener("click", function () {
        vote("CATS");
      });
      document.getElementById("voteDogs").addEventListener("click", function () {
        vote("DOGS");
      });
      document.getElementById('signInButton').addEventListener("click", toggle)
